div, form, p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-image: url(image/images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    justify-content: center;
}

input {
    
    margin: 3%;
}

.bouton {
    width: 170%;
    height: auto;
    border-radius: 5px;
}